10_NameToFaces/10_NameToFaces.xcodeproj/project.xcworkspace/contents.xcworkspacedata
10_NameToFaces/10_NameToFaces.xcodeproj/xcuserdata/brennan.xcuserdatad/xcschemes/xcschememanagement.plist
9_GrandDispatch/7_WhiteHousePetitions.xcodeproj/project.pbxproj
9_GrandDispatch/7_WhiteHousePetitions.xcodeproj/project.xcworkspace/contents.xcworkspacedata
9_GrandDispatch/7_WhiteHousePetitions.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
9_GrandDispatch/7_WhiteHousePetitions.xcodeproj/xcuserdata/brennan.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
9_GrandDispatch/7_WhiteHousePetitions.xcodeproj/xcuserdata/brennan.xcuserdatad/xcschemes/xcschememanagement.plist
